html {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: #1a1a1a;
}

div#menu {
    height: 25px;
    flex: none;
    background-color: #ffcc4a;
    border-top: 2px solid #0A0B3B;
    border-bottom: 1px solid #0A0B3B;
}

div#menu .menu-item {
    display: inline-block;
    vertical-align: middle;
    margin: 5px 5px;
    padding-left: 5px;
    cursor: default;
    color: #1a1a1a;
    border-left: 1px solid #1a1a1a;
}

div#mainArea {
    flex: 1;
    display: flex;
    flex-direction: row;
    min-height: 0;
}

div#sidebar {
    width: 300px;
    flex: none;
 
    background:white;
    border-right: 1px solid #0A0B3B;
    border-top: 1px solid #0A0B3B;
    border-bottom: 1px solid #0A0B3B;
}

div#sidebar .sidebar-header {
    background-color: white;
    padding-left: 10px;
    color: #1a1a1a;
    line-height: 50px;
    margin-bottom: 0;
}

div#sidebar ul {
    list-style: none;
    padding: 0px;
    margin: 0;
    font-size: normal;
}

div#sidebar ul li {
    line-height: 35px;
    padding-left: 30px;
    border-bottom: 1px dashed #0A0B3B;
    color: #1a1a1a;
}

div#sidebar ul li.active {
    background-color: #F7F7FF;
    color: orange;
}

div#content {
    flex: 1;
    background-color: #F7F7FF;
    border-left: 1px solid #0A0B3B;
    border-top: 1px solid #0A0B3B;
    border-bottom: 1px solid #0A0B3B;
    padding: 10px 10px;
    overflow: auto;
    font-family: 'Source Code Pro', monospace;
}

div#statusBar {
    height: 20px;
    flex: none;
    background-color: orange;
    border-bottom: 2px solid #0A0B3B;
    border-top: 1px solid #0A0B3B;
}

div#statusBar i {
    float: right;
    margin-right: 10px;
    color: #1a1a1a;
    line-height: 20px;
    font-size: large;
}
 
        #cards {
             width:100%;
             height:100px;
             margin-top:20px;
        }
        #checkout{
            width:100%;
             height:100%;
              
        }
        #categ_button{
            
            float:left;
            padding-left:20px;
            padding-right:20px;
            padding-top:15px;
            padding-bottom:15px;
            margin :10px 10px 10px 10px;
            background-color:white;
            color:black;
        }
        #butOrder{
            width:100%;
   
       
        }
 
/* product cards */

/* Float four columns side by side */
.column {
    float: left;
    width: 20%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: white;
    
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 900px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
        
 /* text on top ng image  */

 .container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

 